<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179505862409-16ces7fcidv2m9kdnsg8dais19n4ge9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179505862409-16ces7fcidv2m9kdnsg8dais19n4ge9j</string>
	<key>API_KEY</key>
	<string>AIzaSyCqbKrOPCIB7wVppg94u4BuH-CaqwVhYSA</string>
	<key>GCM_SENDER_ID</key>
	<string>179505862409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shouhei.Quiz</string>
	<key>PROJECT_ID</key>
	<string>quizuapp-f5f81</string>
	<key>STORAGE_BUCKET</key>
	<string>quizuapp-f5f81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179505862409:ios:52ba25278f684b213ea5d8</string>
</dict>
</plist>